/* For Chrome, Safari, Edge, Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-arrows {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-o-autofill,
input:-moz-autofill,
input:-webkit-autofill:focus,
input:-o-autofill:focus,
input:-moz-autofill:focus,
input:autofill,
input:autofill:focus
{
  transition: background-color 0s 600000s, color 0s 600000s !important;
}


