@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #F57C00;
  --sec-color: #f0f3f2;
}

.active {
  color: var(--main-color);
}

.toast {
  position: relative !important;
  z-index: 99999999999999 !important;
}


.active .circle{
  background: var(--main-color);
  color: #fff;
}


.small-links .active{
  color: #fff;
}